{
  "extends": "airbnb",

  "env": {
    "mocha": true
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "global-require": 0,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 0 }]
  }
}
